.scores {
    font-size: 24px;
    color: white;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
}

.navbar-fixed {
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}
.brand-logo {
    font-family: 'Poppins', sans-serif;
}

/* changes message to green when correct */

.correctColor {
    color: green !important;
}

/* changes message to red when incorrect */
.incorrectColor {
    color: red !important;
}

/* blinking animation */
.blinker {
    animation: blinker 1s linear;

}

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
